In [1]:
import pyodbc
import numpy as np
import pandas as pd

In [2]:
path=pyodbc.connect('Driver={SQL Server};''Server=DESKTOP-79QHG70\SQLEXPRESS;''Database=assignment;''Trusted_Connection=yes')
cursor=path.cursor()

In [3]:
cursor.execute('select * from sys.tables')
for i in cursor:
    print(i)

('employee', 885578193, None, 1, 0, 'U ', 'USER_TABLE', datetime.datetime(2022, 9, 28, 13, 48, 21, 943000), datetime.datetime(2022, 9, 28, 13, 48, 21, 943000), False, False, False, 0, None, 5, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False)

In [4]:
cursor.execute('select * from dbo.employee')
for i in cursor:
    print(i)

(101, 'Sunny                         ', 76540, 7890654321, 'delhi                         ')
(102, 'shalini                       ', 54321, 7890654320, 'mumbai                        ')
(103, 'anrudhan                      ', 45678, 8790563214, 'gurugram                      ')
(104, 'pankaj                        ', 43890, 8790563219, 'allahabad                     ')
(105, 'jatin                         ', 56098, None, 'gurugram                      ')
(106, 'suraj                         ', 76543, 6789054321, 'mumbai                        ')
(107, 'Anil                          ', 65432, 7890654329, 'mumbai                        ')
(108, 'Aditya                        ', 65409, 6590871234, 'delhi                         ')
(109, 'Rohit                         ', 98076, 5678904321, 'delhi                         ')

In [38]:
cursor.execute('create table Pit(id int,name varchar(30),occupation varchar(30),phone_number bigint)')
path.commit()

In [47]:
cursor.execute('select * from dbo.Pit')
for i in cursor:
    print(i)

In [40]:
class operations:
    def insert(self,category,value):
        cursor.execute("insert into "+category+" values "+ value)
    def update(self,table,column,previous,new_value,column2):
        cursor.execute("update "+table+" set "+column+"="+new_value+" where "+column2+"="+previous)
    def delete(self,table,column,value):
        cursor.execute("delete from "+table+" where "+column+'='+value)
    def search(self,columns,table,category,value):
        cursor.execute("select "+columns+" from "+table+" where "+category+"="+value)

In [66]:
select=int(input('Enter 1 to INSERT, 2 to UPDATE, 3 to DELETE AND 4 to SEARCH:  '))
if select==1:
    category=input("enter the name of the table or category where value needs to be inserted ")
    value=input("enter the value need to be inserted")
    x=operations()
    x.insert(category,value)
    cursor.execute('select * from '+category)
    a=cursor.fetchall()
    print(a)
    path.commit()
elif select==2:
    table=input("enter the name of the table ")
    column=input("enter the column that needs to be updated: ")
    new_value=input("enter the new value: ")
    column2=input("enter column for where clause")
    previous=input("enter the value which needs to be updated: ")
    x=operations()
    x.update(table,column,previous,new_value,column2)
    cursor.execute('select * from '+table)
    a=cursor.fetchall()
    print(a)
    path.commit()
elif select==3:
    table=input("enter the name of the table ")
    column=input("enter the column that needs to be updated: ")
    value=input("enter the value which needs to be deleted: ")
    x=operations()
    x.delete(table,column,value)
    cursor.execute('select * from '+table)
    a=cursor.fetchall()
    path.commit()
elif select==4:
    columns=input("enter the columns need to be searched:")
    table=input("enter the name of table: ")
    category=input("enter the catrgory of the value be searched: ")
    value=input("enter the value on the basis it needs to be searched: ")
    x=operations()
    x.search(columns,table,category,value)
    a=cursor.fetchall()
    print(a)
    path.commit()
else:
    print("Invalid Operation")

Enter 1 to INSERT, 2 to UPDATE, 3 to DELETE AND 4 to SEARCH:  4
enter the columns need to be searched:*
enter the name of table: Pit
enter the catrgory of the value be searched: occupation
enter the value on the basis it needs to be searched: 'Doctor'
[(4, 'Neeraj', 'Doctor', 5676534563)]